:root{
  --dark-strip: #0e4f57;   
  --teal-strip: #178a97;    
  --mint-area: #9ed6c9;     
  --page-bg: #f6eadc;       
  --custom-black: #1b1210; 
  --foot-strip: #FEE3AC;
  --salmon: #DB806B;
  --font: 'JetBrains Mono', monospace;
}

*{box-sizing:border-box}
html,body{
  height:100%; 
  margin:0; 
  background:var(--page-bg); 
  font-family:var(--font)
}

.site-header{
  position:relative;
  width:100%;
  height:160px;
  display:block;
  overflow:visible;
  margin-bottom:60px;
}

.stripe{ width:100%; display:block; }
.stripe-top{ height:20px; background:var(--dark-strip); /*box-shadow: inset 0 -3px rgba(0,0,0,0.05);*/ }
.stripe-mid{ height:40px; background:var(--teal-strip); /*border-bottom:4px solid rgba(0,0,0,0.04);*/ }
.stripe-large{ height:100px; background:var(--mint-area); /*border-top:6px solid rgba(0,0,0,0.02);*/ }

.site-title{
  position:absolute;
  top:22px;
  left:50%;
  transform:translateX(-50%);
  margin:0;
  padding:0;
  font-family:var(--font);
  font-weight:700;
  letter-spacing:2px;
  text-transform:uppercase;
  font-size:60px;
  color: (--custom-black);
  z-index:10;
  background:transparent;
  pointer-events:none;
}


/*.strip-bottom{
  height:40px;
  background:var(--foot-strip);
}*/
