<!-- templates/index.html -->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>index</title>
    <!-- JetBrains Mono (Bold) (font from the figma) -->
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">


  </head>
  <body>
    <header class="site-header" role="banner">

      <div class="stripe stripe-top"></div>
      <div class="stripe stripe-mid"></div>
      <div class="stripe stripe-large"></div>

      <h1 class="site-title">UNIVERSITY MANAGER</h1>

    </header>

    <main class="page-body">

      <div class = "content-box">
        <p style = "font-size: 45px;">LOG IN<p>
        <form method="POST" action="{{ url_for('index') }}">
          <div class="input-wrapper email">
            <i class="fa-regular fa-envelope"></i>
            <input type="text" id="email" name="email" placeholder="Email..." required />
          </div>

          <div class = "input-wrapper password">
            <i class="fa-solid fa-lock"></i>
            <input type="password" id="password" name="password" minlength="1"  placeholder="Password..." required />
          </div>
          
          <div>
          <input id ="login" type="submit" value="Log in" />
          </div>

        </form>
      </div>

    </main>

    <!--<footer class = "stripe strip-bottom"></footer>-->
  </body>
</html>
